{% extends 'shared/_layout.html' %}
{% load static %}
{% load thumbnail %}
{% load render_partial %}
{% load jalali_tags %}
{% block title %}{{ categories.title }}{% endblock %}
{% block header_bg %}{% static 'xsports/img/home-2/hero/hero-bg.png' %}{% endblock %}
{% block hero_bg %}{% static 'xsports/img/home-2/hero/hero-01.png' %}{% endblock %}
{% block content %}
    <!-- GT News-standard Section Start -->
    <section class="news-standard-section section-padding rtl">
        <div class="container">
            <div class="category-header">
                <h1>دسته بندی : <span>شبکه</span></h1>
            </div>
            <div class="gt-news-standard-wrapper">
                <div class="row g-4">
                    <div class="col-12 col-lg-8">
                        <div class="gt-news-standard-items">
                            {% for obj in articles %}
                                <div class="gt-news-card-items-5 mb-10">
                                    <div class="gt-news-image">
                                        {% thumbnail obj.image "856x402" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                                 alt="img">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="gt-news-content">
                                        <ul class="gt-date-list">
                                            <li>
                                                <i class="fa fa-user"></i>
                                                {{ obj.author.get_full_name }}
                                            </li>
                                            <li>
                                                <i class="fa-solid fa-calendar-days"></i>
                                                {{ obj.create_date.date | to_jalali }}
                                            </li>
                                            <li>
                                                <i class="fa-solid fa-clock"></i>
                                                {{ obj.create_date | time:"H:i" }}
                                            </li>
                                            <li>
                                                <i class="fa-solid fa-comments"></i>
                                                19 نظر
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="{% url 'article_detail' slug=obj.slug %}">
                                                {{ obj.title }}
                                            </a>
                                        </h3>
                                        <p>
                                            {{ obj.content | truncatewords:100 }}
                                        </p>
                                        <a href="{% url 'article_detail' obj.slug %}" class="gt-theme-btn">
                                            بیشتر بخوانید
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Paginator -->
                            {% if is_paginated %}
                                <div class="gt-page-nav-wrap pt-5 text-start">
                                    <ul class="justify-content-start">
                                        {% if page_obj.has_previous %}
                                            <li><a class="gt-page-numbers" href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-chevron-right"></i></a></li>
                                        {% endif %}
                                        {% for PageNumber in paginator.page_range %}
                                            <li><a class="gt-page-numbers {% if page_obj.number == PageNumber %}active{% endif %}" href="?page={{ PageNumber }}">{{ PageNumber }}</a></li>
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li><a class="gt-page-numbers" href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-chevron-left"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% render_partial 'article_module.views.article_sidebar' %}
                </div>
            </div>
        </div>
    </section>
    <!-- GT Newsletter Section Start -->
    <section class="gt-newsletter-section fix mb-4">
        <div class="container">
            <div class="gt-newsletter-wrapper bg-cover rtl"
                 style="background-image: url({% static 'xsports/img/home-1/cta/newsletter-bg.jpg' %});">
                <div class="shape">
                    <img src="{% static 'xsports/img/home-1/cta/drive.png' %}" alt="img">
                </div>
                <h4 class="wow fadeInLeft" data-wow-delay=".3s">
                    امروز ثبت‌نام کنید تا جدیدترین اخبار<br>
                    و دیدگاه ها را دریافت کنید
                </h4>
                <form action="#" class="wow fadeInRight" data-wow-delay=".5s">
                    <div class="form-clt">
                        <input type="text" name="email" id="email" placeholder="آدرس ایمیل شما">
                        <button type="submit" class="gt-theme-btn">
                            همین حالا مشترک شوید
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}