{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <!-- GT News-details Section Start -->
    <section class="news-details-section section-padding">
        <div class="container">
            <div class="gt-news-details-wrapper">
                <div class="row g-4 rtl">
                    <div class="col-12 col-lg-8">
                        <div class="gt-details-image">
                            {% thumbnail object.image "855x472" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="img">
                            {% endthumbnail %}
                        </div>
                        <div class="gt-news-details-content">
                            <h3>{{ object.title }}</h3>
                            <p>
                                {{ object.content | linebreaks }}
                            </p>
                            <div class="row gt-tag-share-wrap mt-4 mb-5">
                                <div class="col-lg-8 col-12">
                                    <div class="tagcloud">
                                        <span>تگ ها:</span>
                                        <a href="#">ورزش‌های الکترونیکی</a>
                                        <a href="#">بازاریابی</a>
                                        <a href="#">طراحی</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12 mt-3 mt-lg-0 text-lg-end">
                                    <div class="social-share">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gt-comments-area">
                                <div class="gt-comments-heading">
                                    <h3>2 نظر</h3>
                                </div>
                                <div class="gt-blog-single-comment d-flex gap-4 pt-4 pb-4">
                                    <div class="image">
                                        <img src="{% static 'xsports/img/inner-page/news-details/comment-1.jpg' %}" alt="img">
                                    </div>
                                    <div class="gt-content">
                                        <div class="head d-flex flex-wrap gap-2 align-items-center justify-content-between">
                                            <div class="con">
                                                <h5>
                                                    <a href="#">
                                                        آدام جان
                                                    </a>
                                                </h5>
                                                <span>پنج اردیبهشت 1404 ساعت 2:33</span>
                                            </div>
                                            <a href="#" class="reply">پاسخ دادن</a>
                                        </div>
                                        <p class="mt-2 mb-4">
                                            سلامت و رفاه شما اولویت‌های اصلی ما هستند. ما وقت می‌گذاریم تا به نگرانی‌های
                                            شما گوش دهیم و به سوالات شما پاسخ دهیم.لورم ایپسوم متن ساختگی
                                        </p>
                                    </div>
                                </div>
                                <div class="gt-blog-single-comment d-flex gap-4 pt-4 pb-4">
                                    <div class="image">
                                        <img src="{% static 'xsports/img/inner-page/news-details/comment-2.jpg' %}" alt="img">
                                    </div>
                                    <div class="gt-content">
                                        <div class="head d-flex flex-wrap gap-2 align-items-center justify-content-between">
                                            <div class="con">
                                                <h5><a href="#">کریستین واتسونز</a></h5>
                                                <span>پنج اردیبهشت 1404 ساعت 2:33</span>
                                            </div>
                                            <a href="#" class="reply">پاسخ دادن</a>
                                        </div>
                                        <p class="mt-2 mb-4">
                                            سلامت و رفاه شما اولویت‌های اصلی ما هستند. ما وقت می‌گذاریم تا به نگرانی‌های
                                            شما گوش دهیم و به سوالات شما پاسخ دهیم.لورم ایپسوم متن ساختگی
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="gt-comment-form-wrap mt-5">
                                <h4>نظر خود را بگذارید</h4>
                                <p>آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی علامت‌گذاری شده‌اند. *</p>
                                <form action="#" id="contact-form" method="POST">
                                    <div class="row g-4">
                                        <div class="col-lg-6">
                                            <div class="form-clt">
                                                <span>نام شما</span>
                                                <input type="text" name="name" id="name" placeholder="نام شما">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-clt">
                                                <span>ایمیل شما</span>
                                                <input type="text" name="email" id="email6" placeholder="ایمیل شما">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-clt">
                                                <span>نوشتن پیام</span>
                                                <textarea name="message" id="message"
                                                          placeholder="پیام خود را وارد کنید"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <button type="submit" class="gt-theme-btn">
                                                ارسال کامنت ها
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="gt-main-sideber sticky-style">
                            <div class="gt-single-sideber-widget">
                                <div class="gt-widget-title">
                                    <h3>اینجا جستجو کنید</h3>
                                </div>
                                <div class="gt-search-widget">
                                    <form action="#">
                                        <input type="text" placeholder="اینجا جستجو کنید">
                                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="gt-single-sideber-widget">
                                <div class="gt-widget-title">
                                    <h3>دسته بندی ها</h3>
                                </div>
                                <ul>
                                    <li><a href="#">بازی لایو</a><span>(01)</span></li>
                                    <li><a href="#">فانتزی</a><span>(02)</span></li>
                                    <li><a href="#">گیمینگ</a><span>(03)</span></li>
                                    <li><a href="#">ایکس باکس</a><span>(04)</span></li>
                                    <li><a href="#">شلیک</a><span>(05)</span></li>
                                </ul>
                            </div>
                            <div class="gt-single-sideber-widget">
                                <div class="gt-widget-title">
                                    <h3>پست اخیر</h3>
                                </div>
                                <div class="gt-recent-post-area">
                                    <div class="gt-recent-items">
                                        <div class="gt-recent-thumb">
                                            <img src="{% static 'xsports/img/inner-page/news-details/post-1.jpg' %}" alt="img">
                                        </div>
                                        <div class="gt-recent-content">
                                            <h6>
                                                <a href="#">
                                                    یک روز در زندگی یک رویداد ورزش‌های الکترونیکی
                                                </a>
                                            </h6>
                                            <ul>
                                                <li>
                                                    شش اسفند 1404
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="gt-recent-items">
                                        <div class="gt-recent-thumb">
                                            <img src="{% static 'xsports/img/inner-page/news-details/post-2.jpg' %}" alt="img">
                                        </div>
                                        <div class="gt-recent-content">
                                            <h6>
                                                <a href="#">
                                                    شخصیت های تأثیرگذار در تاریخ<br>
                                                    لورم اپسیوم
                                                </a>
                                            </h6>
                                            <ul>
                                                <li>
                                                    شش اسفند 1404
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="gt-recent-items">
                                        <div class="gt-recent-thumb">
                                            <img src="{% static 'xsports/img/inner-page/news-details/post-3.jpg' %}" alt="img">
                                        </div>
                                        <div class="gt-recent-content">
                                            <h6>
                                                <a href="#">
                                                    پشت صحنه‌های مورد علاقه شما<br>
                                                    لورم اپسیوم
                                                </a>
                                            </h6>
                                            <ul>
                                                <li>
                                                    شش اسفند 1404
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gt-contact-bg bg-cover"
                                 style="background-image: url({% static 'xsports/img/inner-page/match-details/bg.jpg' %});">
                                <div class="gt-contact-content">
                                    <h3>نیاز به کمک دارید؟</h3>
                                    <p>نیاز به کمک دارید؟ با ما تماس بگیرید – پشتیبانی کامل </p>
                                    <div class="gt-contact-item">
                                        <div class="gt-icon">
                                            <i class="fa-solid fa-phone"></i>
                                        </div>
                                        <ul class="gt-list">
                                            <li><span>تماس با ما:</span></li>
                                            <li><a href="tel:+0094382229540">09120000000</a></li>
                                        </ul>
                                    </div>
                                    <div class="gt-contact-item">
                                        <div class="gt-icon">
                                            <i class="fa-regular fa-envelope"></i>
                                        </div>
                                        <ul class="gt-list">
                                            <li><span>ایمیل ما</span></li>
                                            <li><a href="#">
                                                infor@xridergamil.com
                                            </a></li>
                                        </ul>
                                    </div>
                                    <div class="gt-contact-item mb-0">
                                        <div class="gt-icon">
                                            <i class="fa-solid fa-location-dot"></i>
                                        </div>
                                        <ul class="gt-list">
                                            <li><span>لوکیشن:</span></li>
                                            <li>ایران استان البرز</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GT Newsletter Section Start -->
    <section class="gt-newsletter-section fix mb-4">
        <div class="container">
            <div class="gt-newsletter-wrapper bg-cover rtl"
                 style="background-image: url({% static 'xsports/img/home-1/cta/newsletter-bg.jpg' %});">
                <div class="shape">
                    <img src="{% static 'xsports/img/home-1/cta/drive.png' %}" alt="img">
                </div>
                <h4 class="wow fadeInLeft" data-wow-delay=".3s">
                    امروز ثبت‌نام کنید تا جدیدترین ااخبار<br>
                    و دیدگاه ها را دریافت کنید
                </h4>
                <form action="#" class="wow fadeInRight" data-wow-delay=".5s">
                    <div class="form-clt">
                        <input type="text" name="email" id="email" placeholder="آدرس ایمیل شما">
                        <button type="submit" class="gt-theme-btn">
                            همین حالا مشترک شوید
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}