{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load static %}
{% load jalali_tags %}
{% load render_partial %}
{% block title %}وبلاگ | {{ object.title }}{% endblock %}
{% block content %}
    <!-- GT News-details Section Start -->
    <section class="news-details-section section-padding">
        <div class="container">
            <div class="gt-news-details-wrapper">
                <div class="row g-4 rtl">
                    <div class="col-12 col-lg-8">
                        <div class="gt-details-image">
                            {% thumbnail object.image "855x472" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="img">
                            {% endthumbnail %}
                        </div>
                        <div class="gt-news-details-content">
                            <h3>{{ object.title }}</h3>
                            <p>
                                {{ object.content | linebreaks }}
                            </p>
                            <div class="row gt-tag-share-wrap mt-4 mb-5">
                                <div class="col-lg-8 col-12">
                                    <div class="tagcloud">
                                        <span>تگ ها:</span>
                                        <a href="#">ورزش‌های الکترونیکی</a>
                                        <a href="#">بازاریابی</a>
                                        <a href="#">طراحی</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12 mt-3 mt-lg-0 text-lg-end">
                                    <div class="social-share">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gt-comments-area">
                                <div class="gt-comments-heading">
                                    <h3>{{ comments.count }} نظر</h3>
                                </div>
                                {% for comment in comments %}
                                    <div class="gt-blog-single-comment d-flex gap-4 pt-4 pb-4">
                                        <div class="image">
                                            {% if comment.user.avatar %}
                                                {% thumbnail comment.user.avatar "96x96" crop="center" as im %}
                                                    <img src="{{ im.url }}" alt="img">
                                                {% endthumbnail %}
                                            {% else %}
                                                {% thumbnail comment.user.avatar "96x96" crop="center" as im %}
                                                    <img src="{% static 'xsports/img/user.png' %}" alt="img">
                                                {% endthumbnail %}
                                            {% endif %}
                                        </div>
                                        <div class="gt-content">
                                            <div class="head d-flex flex-wrap gap-2 align-items-center justify-content-between">
                                                <div class="con">
                                                    <h5>
                                                        {{ comment.user.get_full_name }}
                                                    </h5>
                                                    <span>{{ comment.created_at.date | to_jalali }} ساعت {{ comment.created_at.time }}</span>
                                                </div>
                                                <a href="#" class="reply">پاسخ دادن</a>
                                            </div>
                                            <p class="mt-2 mb-4">
                                                {{ comment.message | linebreaks }}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="gt-comment-form-wrap mt-5">
                                <h4>نظر خود را بگذارید</h4>
                                <p>آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی علامت‌گذاری شده‌اند. *</p>
                                {% if messages %}
                                    {% for message in messages %}
                                        <p class="article-comments-messages">{{ message }}</p>
                                    {% endfor %}
                                {% endif %}
                                <form id="contact-form" method="POST" novalidate> {% csrf_token %}
                                    <div class="row g-4">
                                        <div class="col-lg-12">
                                            <div class="form-clt">
                                                <span>{{ comment_form.message.label_tag }}</span>
                                                {{ comment_form.message }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <button type="submit" class="gt-theme-btn">
                                                ارسال کامنت ها
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% render_partial 'article_module.views.article_sidebar' %}
                </div>
            </div>
        </div>
    </section>

    <!-- GT Newsletter Section Start -->
    <section class="gt-newsletter-section fix mb-4">
        <div class="container">
            <div class="gt-newsletter-wrapper bg-cover rtl"
                 style="background-image: url({% static 'xsports/img/home-1/cta/newsletter-bg.jpg' %});">
                <div class="shape">
                    <img src="{% static 'xsports/img/home-1/cta/drive.png' %}" alt="img">
                </div>
                <h4 class="wow fadeInLeft" data-wow-delay=".3s">
                    امروز ثبت‌نام کنید تا جدیدترین ااخبار<br>
                    و دیدگاه ها را دریافت کنید
                </h4>
                <form action="#" class="wow fadeInRight" data-wow-delay=".5s">
                    <div class="form-clt">
                        <input type="text" name="email" id="email" placeholder="آدرس ایمیل شما">
                        <button type="submit" class="gt-theme-btn">
                            همین حالا مشترک شوید
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}