{% extends 'shared/_layout.html' %}
{% load static %}
{% load thumbnail %}
{% load jalali_tags %}
{% block title %}وبلاگ{% endblock %}
{% block header_bg %}{% static 'xsports/img/home-2/hero/hero-bg.png' %}{% endblock %}
{% block hero_bg %}{% static 'xsports/img/home-2/hero/hero-01.png' %}{% endblock %}
{% block content %}
    <!-- GT News-standard Section Start -->
    <section class="news-standard-section section-padding rtl">
        <div class="container">
            <div class="gt-news-standard-wrapper">
                <div class="row g-4">
                    <div class="col-12 col-lg-8">
                        <div class="gt-news-standard-items">
                            {% for obj in object_list %}
                                <div class="gt-news-card-items-5 mb-10">
                                    <div class="gt-news-image">
                                        {% thumbnail obj.image "856x402" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                                 alt="img">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="gt-news-content">
                                        <ul class="gt-date-list">
                                            <li>
                                                <i class="fa fa-user"></i>
                                                {{ obj.author.get_full_name }}
                                            </li>
                                            <li>
                                                <i class="fa-solid fa-calendar-days"></i>
                                                {{ obj.create_date.date | to_jalali }}
                                            </li>
                                            <li>
                                                <i class="fa-solid fa-clock"></i>
                                                {{ obj.create_date | time:"H:i"}}
                                            </li>
                                            <li>
                                                <i class="fa-solid fa-comments"></i>
                                                19 نظر
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="{% url 'article_detail' slug=obj.slug %}">
                                                {{ obj.title }}
                                            </a>
                                        </h3>
                                        <p>
                                            {{ obj.content | truncatewords:100 }}
                                        </p>
                                        <a href="{% url 'article_detail' obj.slug %}" class="gt-theme-btn">
                                            بیشتر بخوانید
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Paginator -->
                            {% if is_paginated %}
                                <div class="gt-page-nav-wrap pt-5 text-start">
                                    <ul class="justify-content-start">
                                        {% if page_obj.has_previous %}
                                            <li><a class="gt-page-numbers" href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-chevron-right"></i></a></li>
                                        {% endif %}
                                        {% for PageNumber in paginator.page_range %}
                                            <li><a class="gt-page-numbers {% if page_obj.number == PageNumber %}active{% endif %}" href="?page={{ PageNumber }}">{{ PageNumber }}</a></li>
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li><a class="gt-page-numbers" href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-chevron-left"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="gt-main-sideber sticky-style">
                            <div class="gt-single-sideber-widget">
                                <div class="gt-widget-title">
                                    <h3>دسته بندی ها</h3>
                                </div>
                                <ul>
                                    <li><a href="#">بازی لایو</a><span>(01)</span></li>
                                </ul>
                            </div>
                            <div class="gt-single-sideber-widget">
                                <div class="gt-widget-title">
                                    <h3>پست اخیر</h3>
                                </div>
                                <div class="gt-recent-post-area">
                                    <div class="gt-recent-items">
                                        <div class="gt-recent-thumb">
                                            <img src="{% static 'xsports/img/inner-page/news-details/post-1.jpg' %}"
                                                 alt="img">
                                        </div>
                                        <div class="gt-recent-content">
                                            <h6>
                                                <a href="#">
                                                    یک روز در زندگی یک رویداد ورزش‌های الکترونیکی
                                                </a>
                                            </h6>
                                            <ul>
                                                <li>
                                                    شش اسفند 1404
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="gt-recent-items">
                                        <div class="gt-recent-thumb">
                                            <img src="{% static 'xsports/img/inner-page/news-details/post-2.jpg' %}"
                                                 alt="img">
                                        </div>
                                        <div class="gt-recent-content">
                                            <h6>
                                                <a href="#">
                                                    شخصیت های تأثیرگذار در تاریخ<br>
                                                    لورم اپسیوم
                                                </a>
                                            </h6>
                                            <ul>
                                                <li>
                                                    شش اسفند 1404
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="gt-recent-items">
                                        <div class="gt-recent-thumb">
                                            <img src="{% static 'xsports/img/inner-page/news-details/post-3.jpg' %}"
                                                 alt="img">
                                        </div>
                                        <div class="gt-recent-content">
                                            <h6>
                                                <a href="#">
                                                    پشت صحنه‌های مورد علاقه شما<br>
                                                    لورم اپسیوم
                                                </a>
                                            </h6>
                                            <ul>
                                                <li>
                                                    شش اسفند 1404
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gt-contact-bg bg-cover"
                                 style="background-image: url({% static 'xsports/img/inner-page/match-details/bg.jpg' %});">
                                <div class="gt-contact-content">
                                    <h3>نیاز به کمک دارید؟</h3>
                                    <p>نیاز به کمک دارید؟ با ما تماس بگیرید – پشتیبانی کامل </p>
                                    <div class="gt-contact-item">
                                        <div class="gt-icon">
                                            <i class="fa-solid fa-phone"></i>
                                        </div>
                                        <ul class="gt-list">
                                            <li><span>تماس با ما:</span></li>
                                            <li><a href="tel:+0094382229540">09120000000</a></li>
                                        </ul>
                                    </div>
                                    <div class="gt-contact-item">
                                        <div class="gt-icon">
                                            <i class="fa-regular fa-envelope"></i>
                                        </div>
                                        <ul class="gt-list">
                                            <li><span>ایمیل ما</span></li>
                                            <li><a href="#">
                                                infor@xridergamil.com
                                            </a></li>
                                        </ul>
                                    </div>
                                    <div class="gt-contact-item mb-0">
                                        <div class="gt-icon">
                                            <i class="fa-solid fa-location-dot"></i>
                                        </div>
                                        <ul class="gt-list">
                                            <li><span>لوکیشن:</span></li>
                                            <li>ایران استان البرز</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GT Newsletter Section Start -->
    <section class="gt-newsletter-section fix mb-4">
        <div class="container">
            <div class="gt-newsletter-wrapper bg-cover rtl"
                 style="background-image: url({% static 'xsports/img/home-1/cta/newsletter-bg.jpg' %});">
                <div class="shape">
                    <img src="{% static 'xsports/img/home-1/cta/drive.png' %}" alt="img">
                </div>
                <h4 class="wow fadeInLeft" data-wow-delay=".3s">
                    امروز ثبت‌نام کنید تا جدیدترین اخبار<br>
                    و دیدگاه ها را دریافت کنید
                </h4>
                <form action="#" class="wow fadeInRight" data-wow-delay=".5s">
                    <div class="form-clt">
                        <input type="text" name="email" id="email" placeholder="آدرس ایمیل شما">
                        <button type="submit" class="gt-theme-btn">
                            همین حالا مشترک شوید
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}