{% extends 'admin_module/base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}پروفایل{% endblock %}
{% block sidebar %}
    <style>
        .card-title {
            float: right !important;
        }
    </style>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{% static 'adminLTE/dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">
                        {% if user.get_full_name %}
                            {{ user.get_full_name }}
                        {% else %}
                            {{ user.email | truncatechars:24 }}
                        {% endif %}
                    </a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fa fa-user"></i>
                            <p>
                                پروفایل
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'profile' %}" class="nav-link {% if request.path == '/dashboard/profile/' %}active{% endif %}">
                                    <p>پروفایل من</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'edit_profile' %}" class="nav-link {% if request.path ==  '/dashboard/edit_profile/' %}active{% endif %}">
                                    <p>ویرایش اطلاعات</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- Sidebar -->
        <a href="#" class="brand-link">
            <img src="{% static 'adminLTE/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">داشبورد مدیریت</span>
        </a>
        <!-- /.sidebar -->
    </aside>
{% endblock %}

{% block content %}
    <div class="content-wrapper" style="min-height: 1604.44px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>پروفایل</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    {% if user.avatar %}
                                        {% thumbnail user.avatar "128x128" as im %}
                                            <img class="profile-user-img img-fluid img-circle" src="{{ im.url }}" alt="User profile picture">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img class="profile-user-img img-fluid img-circle" src="{% static 'xsports/img/user.png' %}" alt="User profile picture">
                                    {% endif %}
                                </div>
                                <h3 class="profile-username text-center">
                                    {% if user.get_full_name %}
                                        {{ user.get_full_name }}
                                    {% else %}
                                        {{ user.email }}
                                    {% endif %}
                                </h3>
                                <p class="text-muted text-center">مهندس IT</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">درباره من</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <strong><i class="fas fa-book mr-1"></i>ایمیل :</strong>

                                <p class="text-muted">
                                    {{ user.email }}
                                </p>
                                <hr>
                                <strong><i class="fas fa-book mr-1"></i>نام و نام خانوادگی :</strong>

                                <p class="text-muted">
                                    {% if user.get_full_name %}
                                        {{ user.get_full_name }}
                                    {% else %}
                                        شما هنوز نام و نام خانوادگی خود را وارد نکردید!
                                    {% endif %}
                                </p>

                                <hr>
                                {% if user.is_author %}
                                    <strong><i class="fas fa-map-marker-alt mr-1"></i> دسترسی ها :</strong>

                                    <p class="text-muted">
                                        نویسندگی مقالات،
                                    </p>
                                    <hr>
                                {% endif %}
                                <strong><i class="far fa-file-alt mr-1"></i> درباره من :</strong>

                                <p class="text-muted">
                                    {% if user.about_user %}
                                        {{ user.about_user }}
                                    {% endif %}
                                </p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}