{% load static %}
<footer class="gt-footer-section section-bg">
    <div class="container">
        <div class="gt-footer-widget-wrapper rtl">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-6 col-md-12 wow fadeInUp rtl" data-wow-delay=".2s">
                    <div class="gt-footer-widget-items rtl">
                        <div class="gt-widget-head">
                            <a href="#" class="gt-footer-logo">
                                <img src="{% static 'xsports/img/logo/white-logo.svg' %}" alt="img">
                            </a>
                        </div>
                        <div class="gt-footer-content">
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                            </p>
                            <div class="gt-social-icon d-flex align-items-center">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 wow fadeInUp rtl" data-wow-delay=".4s">
                    <div class="gt-footer-widget-items rtl">
                        <div class="gt-widget-head">
                            <h5>استودیوی ما</h5>
                        </div>
                        <ul class="gt-list-area">
                            <li>
                                <a href="#">
                                    درباره ما
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    تیم ما
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    تبلیغات
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    اطلاعات حقوقی
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    همکاری
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 ps-lg-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="gt-footer-widget-items rtl">
                        <div class="gt-widget-head">
                            <h5>صفحات کاربردی</h5>
                        </div>
                        <ul class="gt-list-area">
                            <li>
                                <a href="#">
                                    شرایط خدمات
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    حریم خصوصی / شرایط استفاده
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    کارت‌های هدیه
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    نقد و بررسی بازی‌ها
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    سرویس‌های اشتراکی
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="gt-footer-widget-items rtl">
                        <div class="gt-widget-head">
                            <h5>دانلود بازی های ما</h5>
                        </div>
                        <div class="gt-footer-app">
                            <div class="app-image">
                                <img src="{% static 'xsports/img/home-1/footer/app-1.jpg' %}" alt="img">
                            </div>
                            <div class="app-image">
                                <img src="{% static 'xsports/img/home-1/footer/app-2.jpg' %}" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom wow fadeInUp rtl" data-wow-delay=".3s">
            <div class="footer-wrapper">
                <p>اکس‌پورتس2025. تمامی حقوق محفوظ است.</p>
                <ul class="gt-footer-list wow fadeInUp" data-wow-delay=".3s">
                    <li>
                        <a href="#">کوکی‌ها</a>
                    </li>
                    <li>
                        <a href="#">حریم خصوصی</a>
                    </li>
                    <li>
                        <a href="#">قوانین</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>